@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
:root{
    background-color: rgb(216, 252, 180);
}
.cabecalho{
    width: 100%;
}

.titulo{
    color: #000000;
    font-size: 32px;
    font-family:Emblema One;
    text-align: center;
}
.h2{
    font-family: Emblema One;
    font-size: 28px;
    color: #000000;
}
.texto-inicial{
    font-size: 24px;
    color: #000000;
}
.texto-fonte{
    font-size: 18px;
    color: #000000;
}
.foto{
    width: 30%;
}