@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
:root{
    background-color: rgb(216, 252, 180);
}
.cabecalho{
    width: 100%;
}

.titulo{
    color: #000000;
    font-size: 32px;
    font-family:Emblema One;
    text-align: center;
}
.h2{
    font-family: Emblema One;
    font-size: 28px;
    color: #000000;
}
.texto-inicial{
    font-size: 24px;
    color: #000000;
}
.texto-fonte{
    font-size: 18px;
    color: #000000;
}
.foto{
    width: 30%;
    border-radius: 10px;
    height: 500px;
}
.texto-descricao{
   font-size: 24px;
   display: inline-block;
}
.foto-explorar{
    text-align: left;
    width: 500px;
    height: 500px;
    display: inline-block;
}
.destino{
    display: flex;
    align-items: center;
}
.ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
.topicos{
    display: flex;
    position: absolute;
    padding: 1em;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}
.botao-link{
    text-decoration: none;
    display: flex;
    color: #d2f7b2;
    font-size: 24px;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #000000;
}